<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/styles/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
    <h1> Register </h1>
</head>
<body>
</div>
 <div class ="bg">
 <div class="loginContainer">
   <form id="registerForm" method="post">
    <label for= "name"> First name: </label><br>
    <input type="text" id="name" name="name" required><br>

    <label for= "pass"> Password: (max 15 characters) </label><br>
    <input type="password" id="pass" name="pass" maxlenght="15"  required><br>

    <label for= "cpass"> Confirm Password: </label><br>
    <input type="password" id="cpass" name="cpass" required><br>

    <label for= "email"> Email: </label><br>
    <input type="email" id="email" name="email" placeholder="example@gmail.com" required><br>
 
    <input type="submit" value="Submit">
   </form>
 </div>
 </div>
</body>
<footer>
 <p> Ricardo Muchacho. Ci:27849052 </p>
</footer>
</html>